<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroClienteServlet</servlet-name>
        <servlet-class>br.senac.projetointegrador.servlet.CadastroClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientesServlet</servlet-name>
        <servlet-class>br.senac.projetointegrador.servlet.ListarClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <servlet-class>br.senac.projetointegrador.servlet.ListarProdutosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProdutosServlet</servlet-name>
        <servlet-class>br.senac.projetointegrador.servlet.CadastroProdutosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaClientesServlet</servlet-name>
        <servlet-class>br.senac.projetointegrador.servlet.BuscaClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaClienteServlet</servlet-name>
        <servlet-class>br.senac.projetointegrador.servlet.BuscaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProdutoServlet</servlet-name>
        <servlet-class>br.senac.projetointegrador.servlet.BuscaProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientesVendaServlet</servlet-name>
        <servlet-class>br.senac.projetointegrador.servlet.ListarClientesVendaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroClienteServlet</servlet-name>
        <url-pattern>/cliente/CadastroClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientesServlet</servlet-name>
        <url-pattern>/cliente/ListarClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProdutosServlet</servlet-name>
        <url-pattern>/produto/CadastroProdutosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <url-pattern>/produto/ListarProdutosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaClientesServlet</servlet-name>
        <url-pattern>/BuscaClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaClienteServlet</servlet-name>
        <url-pattern>/cliente/BuscaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaClienteServlet</servlet-name>
        <url-pattern>/venda/BuscaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProdutoServlet</servlet-name>
        <url-pattern>/produto/BuscaProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientesVendaServlet</servlet-name>
        <url-pattern>/venda/ListarClientesVendaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
